
<div class="hold-transition login-page" ng-app="Compacct_Login_Module" ng-controller="LoginController as ctrl">
    <div class="login-box">
      <div class="login-logo">
        <img src="assets/img/Compacct_New_Logo_New.png" alt="COMPACCT" />
      </div>
      <form name="LoginForm" novalidate>
        <div class="alert alert-danger" *ngIf="msg">
         {{msgValue}}
        </div>
        <div class="login-box-body" ng-if="ctrl.loginpageshow==true">
          <p class="login-box-msg">Sign in to start your session</p>
          <div class="form-group has-feedback">
            <input class="form-control"
            name="User_Name" 
            #User_Name="ngModel" 
            [(ngModel)]="ObjLogin.User_Name" 
            placeholder="Login ID"
            [ngClass]="{'clearance': loginSubmit && User_Name?.errors?.required}" 
            required>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input class="form-control"
            type="password"
            name="User_Name"
            #Password="ngModel" 
            [(ngModel)]="ObjLogin.Password" 
            placeholder="Password"
            [ngClass]="{'clearance': loginSubmit && Password?.errors?.required}" 
            required>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <select class="form-control" 
            name="fin" 
            #fin="ngModel"
            [(ngModel)]="finYear" 
            [ngClass]="{'clearance': loginSubmit && fin?.errors?.required}" 
            required>
             <option *ngFor="let option of finList" value="{{option.Fin_Year_ID}}">
              {{option.Fin_Year_Name}}
            </option>
          </select>
          </div>
          <div class="row">
  
            <div class="col-xs-12">
              
              <!-- <button ng-if="ctrl.backshow==true" class="btn btn-primary pull-left" ng-click="ctrl.backToUserLists()">
                <span class="glyphicon glyphicon-circle-arrow-left"></span> Back
              </button> -->
              <a (click)="Login()" class="btn btn-primary pull-right" style="margin-top: 8px;">
                <span class="fa fa-sign-in"></span> Sign In
              </a>
            </div>
          </div>
        </div>
      </form>
      <div class="alert-box failure"></div>
    </div>
  
    <div class="modal fade" id="OtpModal" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <form name="deliveryOrderForm" novalidate>
            <div class="modal-header bg-primary">
              <h4 class="modal-title">Verification Modal</h4>
            </div>
  
            <div class="modal-body">
              <p>We&rsquo;ve sent a six-digit confirmation code to Your Mobile. Enter it below to confirm your identity.</p>
              <div class="form-control-static">
                <div class="col-sm-12">
                  <input class="form-control" placeholder="Enter OTP" ng-model="ctrl.OtpFetch" />
                  <div class="alert-box failure" id="otp"></div>
                </div>
  
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-social btn-success"
                      ng-click="ctrl.sendOTP(false)"
                      id="load2"
                      data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing">
                <i class="fa fa-fw fa-paper-plane"></i> Resend OTP
              </button>
              <button class="btn btn-primary pull-right"
                      ng-click="ctrl.creatNepalCookies(LoginForm.$valid)"
                      id="load"
                      data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing">
                <span class="glyphicon glyphicon-save"></span> Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  
</div>
  
